.system-log-card {
  height: 50% !important;
  width: 100% !important;
  margin: 0 auto;
  max-height: none;

  @media (max-width: 768px) {
    height: 50% !important;
  }

  .dot {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  .dot-cpu {
    width: 12px;
    height: 12px;
    background-color: #00ffaa;
  }

  .dot-ram {
    background-color: #007bff;
  }
}
