.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;

  &.dot-cpu {
    background-color: #00ffaa;
  }

  &.dot-ram {
    background-color: #007bff;
  }
}

.system-usage-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;

  .col {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.apexcharts-grid line {
  stroke: rgba(255, 255, 255, 0.1);
}
